<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid" icon="font://&#xf060;" class="fas fas-size" (tap)="goBack()"></NavigationButton>
    <NavigationButton *ngIf="isIOS" icon="font://&#xf053;" class="fas fas-size-ios" (tap)="goBack()"></NavigationButton>
</ActionBar>
<StackLayout height="100%" width="90%">
    <ListView [items]="insurersGroupCollection" height="100%">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <StackLayout>
                <StackLayout class="shadow-horizontal">
                    <StackLayout height="100%" class="stacklayout-card">
                        <GridLayout rows="auto" columns="100, *">
                            <StackLayout row="0" col="0" class="stacklayout-card-title-horizontal">
                                <SVGImage height="50" [src]="'~/assets/iconos-aseguradoras/' + item.imageName">
                                </SVGImage>
                            </StackLayout>
                            <StackLayout row="0" col="1" class="stacklayout-card-body-horizontal"
                                orientation="vertical">
                                <Label [text]="item.document === '' ? item.wrong : item.success"
                                    textWrap="true"></Label>
                                <Label *ngIf="item.document === ''" textWrap="true" (tap)="call()">
                                    <FormattedString>
                                        <span class="fas" fontWeight="bold" [text]="'&#xf095;  ' + supportPhone"></span>
                                    </FormattedString>
                                </Label>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout class="stacklayout-card-options" *ngIf="item.document !== ''">
                            <GridLayout rows="*" columns="*">
                                <Button col="0" row="0"
                                    class="btnOptions" text="Instrucciones de Pago" (tap)="viewDocument(item.document)"></Button>
                            </GridLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>