<StackLayout width="90%" marginTop="50px">
    <Label textWrap="true">
        <FormattedString>
            <span color="red" fontSize="20" text="* "></span>
            <span fontWeight="bold" fontSize="16"
                text="En caso de siniestro, llama al número correspondiente a tu aseguradora"></span>
        </FormattedString>
    </Label>
    <ListView [items]="images" class="list-group" height="3200">
        <ng-template let-item="item" let-odd="odd" let-even="even">
            <StackLayout class="card">
                <StackLayout class="insureImage">
                    <SVGImage *ngIf="isAndroid" height="125px" [src]="'~/assets/iconos-aseguradoras/' + item.name">
                    </SVGImage>
                    <SVGImage *ngIf="isIOS" [height]="selectSize(item.alias, 'h')" [width]="selectSize(item.alias, 'w')"
                        [src]="'~/assets/iconos-aseguradoras/' + item.name">
                    </SVGImage>
                </StackLayout>
                <StackLayout class="insureName">
                    <Label text="En caso de siniestro llame al:" textWrap="true"></Label>
                    <Label textWrap="true" (tap)="call(item.phone)">
                        <FormattedString>
                            <span class="fas" text="&#xf095;  {{item.tel}}"></span>
                        </FormattedString>
                    </Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>