// Add mobile styles for the component here
.container-app-info {
    // background-color: rgba(1, 79, 152, 1);
    background-color: #fff;
}

.app-name {
    font-size: 20;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.app-version {
    font-size: 18;
    color: #686868;
    text-align: center;
    font-weight: bold;
}

.copyright {
    font: 18;
    color: #000;
    text-align: center;
}