<ActionBar [title]="titleActionBar" icon="" class="action-bar">
    <NavigationButton *ngIf="isAndroid && PDFComplete === true" icon="font://&#xf060;" class="fas fas-size"
        (tap)="goBack()"></NavigationButton>
    <NavigationButton *ngIf="isIOS && PDFComplete === true" icon="font://&#xf053;" class="fas" (tap)="goBack()">
    </NavigationButton>
    <ActionItem *ngIf="PDFComplete === true && isIOS === true" icon="font://&#xf56d;" class="fas" ios.position="right"
        (tap)="downLoadPolicie()"></ActionItem>
    <GridLayout rows="*" columns="50, *" *ngIf="PDFComplete === false">
        <ActivityIndicator row="0" col="0" [busy]="isBusy" color="#FFF" width="35" height="35"></ActivityIndicator>
        <Label row="0" col="1" text="La póliza está cargando" class="textLoaderPolicie" textWrap="true"></Label>
    </GridLayout>
</ActionBar>
<StackLayout *ngIf="isDownloading === true">
    <app-loader [(textLoader)]="dowloadingText"></app-loader>
</StackLayout>
<div *ngIf="isDownloading === false">
    <PDFView [src]="PDF_URL" (load)="onLoad()"></PDFView>
</div>
<StackLayout *ngIf="PDFComplete === true && isAndroid && isDownloading === false" class="flt-btn-layout"
    (tap)="downLoadPolicie()">
    <app-floating-button></app-floating-button>
</StackLayout>