<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<ActionBar title="" icon="" class="action-bar" color="white">
  <NavigationButton *ngIf="isAndroid === true"
    [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'" class="fas fas-size"
    (tap)="showDrawer()">
  </NavigationButton>
  <Image class="ABImage" src="~/assets/login/logo-white.png"></Image>
  <ActionItem *ngIf="isIOS === true" [icon]="isOpenSidedrawer === true ? 'font://&#xf00d;' : 'font://&#xf0c9;'"
    class="fas fas-size-ios" ios.position="left" (tap)="showDrawer()"></ActionItem>
</ActionBar>
<RadSideDrawer [drawerTransition]="sideDrawerTransition" (drawerClosing)="isOpenSidedrawer = false">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <!-- <StackLayout row="0" class="nt-drawer__header" backgroundColor="#fff">
      <Label class="nt-drawer__header-brand"
        [text]="dataClientArr.nombre + ' ' + dataClientArr.paterno + ' ' + dataClientArr.materno" color="#000"></Label>
      <Label class="nt-drawer__header-footnote" [text]="dataClientArr.correo" color="#5E5E5E"></Label>
    </StackLayout> -->

    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>
        <!-- #region Subtitle -->
        <GridLayout columns="*" class="nt-drawer__list-item" class="categoryDivider" height="30" marginBottom="10">
          <Label col="0" class="subTitleMenuRAD" text="General" width="100%"></Label>
        </GridLayout>
        <!-- #endregion Subtitle -->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container')" height="30">
          <Label col="0" color="#4d38c6" text="&#xf015;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Inicio" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/policies')"
          height="30">
          <Label col="0" color="#4d38c6" text="&#xf07c;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Mis Pólizas" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>

        <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    (tap)="onNavItemTap('/container/officialidentification')" height="30">
          <Label col="0" color="#4d38c6" text="&#xf2c2;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Identificación Oficial"

                 class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>

        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/vehicleinspection')" height="30">
          <Label col="0" color="#4d38c6" text="&#xf1b9;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Inspección Vehicular"
                 class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>

        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/eventofclaim')"
                    height="30">
          <Label col="0" color="#4d38c6" text="&#xf5e1;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" fontWeight="bold" text="En Caso de Siniestro"
                 class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>

        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/support')"
          height="30">
          <Label col="0" color="#4d38c6" text="&#xf590;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Atención a Clientes" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <!-- #region Subtitle Cuenta-->
        <GridLayout columns="*" class="nt-drawer__list-item" class="categoryDivider" height="30" marginTop="10"
          marginBottom="10">
          <Label col="0" class="subTitleMenuRAD" text="Cuenta" width="100%"></Label>
        </GridLayout>
        <!--  -->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/profile')"
          height="30">
          <Label col="0" color="#4d38c6" text="&#xf2bd;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Mi Información" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/settings')"
          height="30">
          <Label col="0" color="#4d38c6" text="&#xf013;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Ajustes" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <!-- #endregion Subtitle -->
        <!-- #region Subtitle -->
        <GridLayout columns="*" class="nt-drawer__list-item" class="categoryDivider" height="30" marginTop="10"
          marginBottom="10">
          <Label col="0" class="subTitleMenuRAD" text="Sesión" width="100%"></Label>
        </GridLayout>
        <!-- #endregion Subtitle -->
        <GridLayout columns="auto, *" class="nt-drawer__list-item" (tap)="onNavItemTap('/container/logout')"
          height="30">
          <Label col="0" color="#4d38c6" text="&#xf2f5;" class="nt-icon fas"></Label>
          <Label col="1" color="#014F98" fontWeight="bold" text="Salir" class="p-r-10 fontSizeRSD"></Label>
        </GridLayout>
        <StackLayout class="hr"></StackLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>
  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
