// Add mobile styles for the component here

.subTitleMenuRAD {
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
}

.categoryDivider {
    background-color: rgba(77, 56, 198, 0.56);
}
