// Add mobile styles for the component here
.form-change-pass {
    margin-top: 80px;
}

.title-text-field {
    font-size: 16;
    font-weight: bold;
}

.text-field {
    font-size: 16;
}

.btnSavePassword {
    margin: 30 5 15 5;
    background-color: #014F98;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.icon-pass {
    text-align: center;
    font-size: 20;
}

.instructions-size {
    font-size: 16px;
    margin: 0 0 0 40px;
    font-weight: normal;
}

.errorTextField_security {
    color: rgb(230, 10, 10);
    font-size: 14;
    font-weight: bold;
  }