//Add mobile styles for the component here
.icon-list-settings {
    font-size: 18;
    text-align: center;
}

.title-list-settings {
    font-size: 15;
    font-weight: bold;
}

.subtitle-list-settings {
    font-size: 14;
    color: #535353;
}